
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Page d'inscription</h2>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                  <div class="form-group">
                      <label>Nom</label>
                      <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                      <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                          <div *ngIf="f.nom.errors.required">le nom est obligatoire</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Prénom</label>
                      <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
                      <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                          <div *ngIf="f.prenom.errors.required">le prénom est obligatoire</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Pseudonyme</label>
                      <input type="text" formControlName="pseudonyme" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pseudonyme.errors }" />
                      <div *ngIf="submitted && f.pseudonyme.errors" class="invalid-feedback">
                          <div *ngIf="f.pseudonyme.errors.required">le pseudonyme est obligatoire</div>
                      </div>
                  </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">l'adresse mail est obligatoire</div>
                            <div *ngIf="f.email.errors.email">l'adresse mail doit être valide</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" formControlName="motDePasse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motDePasse.errors }" />
                        <div *ngIf="submitted && f.motDePasse.errors" class="invalid-feedback">
                            <div *ngIf="f.motDePasse.errors.required">le mot de passe est obligatoire</div>
                            <div *ngIf="f.motDePasse.errors.minlength">le mot de passe doit avoir au moins 8 caractères</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Adresse</label>
                        <input type="text" formControlName="adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" />
                        <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                            <div *ngIf="f.adresse.errors.required">l'adresse est obligatoire</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
