
<div class="container">

    <p>Bienvenu cher {{ utilisateur.pseudonyme }}</p>
    <a mat-list-item href="/commande">Historique</a>
    <div class="form-group">
        <div class="utilisateur row mx-2 p-3 d-flex justify-content-center">
            <div class="card-body">
              <p class="card-text">Votre nom: {{ utilisateur.nom }}  </p>
              <p class="card-text">Votre prénom:  {{ utilisateur.prenom }}</p>
              <p class="card-text">Votre pseudonyme: {{ utilisateur.pseudonyme }}</p>
              <p class="card-text">Votre email: {{ utilisateur.email }} </p>
              <p class="card-text">Votre adresse: {{ utilisateur.adresse }} </p>

            </div>
        </div>

    </div>
      <button (click)="logOut()"type="button" name="button">Déconnexion</button>

</div>
