<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">A propos de nous</h2>
                        <p class="aboutus-text">Nous commercialisons des stylo connectés. Ces stylos permettent de connecter vos écrits au cloud. Vos schémas, vos pensées ou vos cours seront directement disponibles et organisés.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img style="width:250px;height:400px"src="https://static.fnac-static.com/multimedia/Images/FR/NR/f4/8e/82/8556276/1505-1/tsp20170116134633/Stylo-numerique-et-recepteur-USB-Iris-IrisNotes-3.jpg">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Passion</h4>
                                    <p>La passion est très importante dans toute entreprise.C'est par passion que nous nous donnons à fond.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Confiance</h4>
                                    <p>La confiance est primordiale pour avoir une clientèle fidèle. C'est pour cela que nos stylos ont été testés sur la durée et dans les conditions extrêmes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Disponibilité</h4>
                                    <p>Nous accordons beaucoup d'importance à la disponibilité. Il est impératif pour nous que nos utilisateurs puissent être dépannés rapidement et de manière efficace.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
