

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
              <p style="color:red">{{errorMessage}}<p>

                <h2>Page de paiement</h2>

                  <form [formGroup]="form" #demoForm="ngForm" (ngSubmit)="onSubmit(demoForm)" novalidate>
                    <div class="form-group">
                        <label>Propriétaire</label>
                        <input type="text" formControlName="proprietaire" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.proprietaire.errors }" />
                        <div *ngIf="submitted && f.proprietaire.errors" class="invalid-feedback">
                            <div *ngIf="f.proprietaire.errors.required">le proprietaire est obligatoire</div>
                            <div *ngIf="f.proprietaire.errors.minlength">le proprietaire doit avoir au moins 5 caractères</div>

                        </div>
                    </div>
                    <div class="form-group">
                      <label>Carte</label>
                      <input class="form-control" value="{{carte}}" [ngClass]="{ 'is-invalid': submitted && f.creditCard.errors }" id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber>
                      <div *ngIf="submitted && f.creditCard.errors" class="invalid-feedback">
                          <div *ngIf="f.creditCard.errors.required">la carte est obligatoire</div>
                          <div *ngIf="!f.creditCard.errors.required">la carte est incorrecte</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Date d'expiration</label>
                      <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expirationDate.errors }" id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp>
                      <div *ngIf="submitted && f.expirationDate.errors" class="invalid-feedback">
                          <div *ngIf="f.expirationDate.errors.required">la date est obligatoire</div>
                          <div *ngIf="!f.expirationDate.errors.required">la date est incorrecte </div>

                      </div>
                   </div>
                    <div class="form-group">
                      <label>CVC</label>
                      <input  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cvc.errors }" id="cc-number" formControlName="cvc" type="tel" autocomplete="cc-number" ccNumber>
                      <div *ngIf="submitted && f.cvc.errors" class="invalid-feedback">
                          <div *ngIf="f.cvc.errors.required">le cvc/cvv est obligatoire</div>
                          <div *ngIf="!f.cvc.errors.required">le cvc/cvv est incorrecte</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Sauvegarder votre carte</label>
                      <input class="form-control"  formControlName="saveCard" type="checkbox" id="saveCard" name="sauvegarde" unchecked>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Connexion</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
