<h3>Information Panier</h3>
<table border="1">
    <tr>
        <th>Remove</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th>Change quantity</th>
    </tr>
    <tr *ngFor="let item of items">
        <td align="center">
            <button  (click)="remove(item.produit.idProduit)">Remove</button>
        </td>
        <td>{{item.produit.intitule}}</td>
        <td>
            <img src="{{item.produit.image}}" width="50">
        </td>
        <td>{{item.produit.prixUnitaire}}</td>
        <td>{{item.quantite}}</td>
        <td>{{item.produit.prixUnitaire * item.quantite}}</td>
        <td>
            <input #quantity type="number" min="0" value="{{item.quantite}}" name="quantity">
            <button (click)="changeQuantity(item.produit.idProduit,quantity.value)">send</button>
          </td>
    </tr>
    <tr>
        <td colspan="6" align="right">Total</td>
        <td>{{total}}</td>
    </tr>
</table>


  <button (click)="viderPanier()"> Vider Panier</button>

  <div style="text-align:center; margin-top:2%;">
      <button  (click)="validerPanier()"> Valider </button>
  </div>
