<h3>
  Voici la liste de vos articles
</h3>
<p>
  Si les commandes ne s'affichent pas veuillez rafraîchir la page
</p>
<table border="1">
    <tr>
        <th>identifiant facture</th>
        <th>date achat</th>
        <th>montant</th>

    </tr>
    <tr *ngFor="let facture of factures">
        <td>{{facture.idFacture}}</td>
        <td>{{facture.dateAchat}}</td>
        <td>{{facture.montant}}</td>
    </tr>

</table>
