<div>
  <p>Vous n'êtes pas inscrit?<p>
  <button routerLink="/registration" type="button" name="button">Inscrivez-vous</button>
</div>


<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Page de connexion</h2>
                <form [formGroup]="registerForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">l'adresse mail est obligatoire</div>
                            <div *ngIf="f.email.errors.email">l'adresse mail doit être valide</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" formControlName="motDePasse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motDePasse.errors }" />
                        <div *ngIf="submitted && f.motDePasse.errors" class="invalid-feedback">
                            <div *ngIf="f.motDePasse.errors.required">le mot de passe est obligatoire</div>
                            <div *ngIf="f.motDePasse.errors.minlength">le mot de passe doit avoir au moins 8 caractères</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
