
<div class="container">
  <div class="nav-bar">
    <button routerLink="/">Back</button>
  </div>
    <div class="form-group">
        <div class="produit row mx-2 p-3 d-flex justify-content-center">
            <img class="card-img-top" [src]="produit.image" [alt]="produit.intitule">
            <div class="card-body">
              <h3>{{ produit.intitule }}  </h3>
              <p class="card-text">{{ produit.description }}</p>
              <p class="card-text">{{ produit.prixUnitaire }} Euros</p>
            </div>
        </div>
        <button [routerLink]="['/panier',{idProduit:produit.idProduit}] " class="btn btn-secondary"> Ajouter au panier  </button>

    </div>

</div>
