<div class="container">
  
  <div class="produits row mx-2 p-3 d-flex justify-content-center">
    <div *ngFor="let produit of produits" class="card m-2" style="width: 18rem;">
      <img class="card-img-top" [src]="produit.image" [alt]="produit.intitule">
      <div class="card-body">

        <a [routerLink]="['/produitsDetails',produit.idProduit]">  {{ produit.intitule }}  </a>
        <p class="card-text">{{ produit.description }}</p>
        <p class="card-text">{{ produit.prixUnitaire }} Euros</p>
        <button [routerLink]="['/panier',{idProduit:produit.idProduit}] " class="btn btn-secondary"> Ajouter au panier  </button>

      </div>
    </div>
  </div>

</div>
